// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$bg-color: #{"@theme_bg_color"};

.screen-border-line {
  background-color: $bg-color;
  background: $bg-color;
  box-shadow: none;
  border: none;
}

.screen-border-corner-window {
  background-color: transparent;
  background: transparent;
  box-shadow: none;
  border: none;
}

.corner-canvas {
  color: $bg-color;
}