layout {
    gaps 10 // roughly matching gaps_out 7 and gaps_in 3

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

}

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
    }
    mouse {
        accel-profile "flat"
    }
}

// Window rounding and opacity
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
}
